<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layouts/front_store">
<body>
	<div class="container" layout:fragment="content">
		<div class="row" th:switch="${itemMap.size()}">
			<div class="col-xs-12 col-md-12" th:case="0">
				<div class="jumbotron">
					<h1>Cung cấp tất cả bánh kem, bánh mì, Chocolate</h1>
					<p>Không có sản phẩm nào trong giỏ hàng!</p>
					<p><a th:href="@{/}" class="btn btn-warning">Tiếp tục Mua</a></p>
				</div>
			</div>
			<div class="col-xs-12 col-md-12" th:case="*">
				<div class="jumbotron">
					<h1></h1>
                                        <p th:text="|Giỏ hàng có ${numOfItems} sản phẩm|"/>
					<p>Nếu bạn muốn xóa sản phẩm khỏi đơn hàng, chỉ cần cập nhật về 0</p>
					<p>
						<a th:href="@{/}" class="btn btn-info">Tiếp tục Mua</a>
						<a th:href="@{/checkout}" class="btn btn-warning">Thanh toán</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row" th:unless="${itemMap.isEmpty()}">
			<div class="col-xs-12 col-md-4">
				<div class="jumbotron">
					<h4 th:text="|Subtotal: ${subTotal} Đồng|"></h4>
					<p><a th:href="@{/clearCart}" class="btn btn-danger">Xóa giở hàng</a></p>
				</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Tên</th>
								<th>Giá</th>
								<th>Số lượng</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${itemMap.entrySet()}">
								<td><img class="img-responsive" width="200" height="400" th:src="@{|/resources/upload/products/${item.key.getName()}.png|}" /></td>
								<td th:text="${item.key.getDetail()}"></td>
								<td th:text="|${item.key.getPrice()} Đồng|"></td>
								<td>
									<form th:action="@{/updateCart}" method="POST" class="form-inline">
										<div class="form-group">
											<input type="hidden" name="id" th:value="${item.key.getId()}" />
											<input class="form-control" type="text" name="quantity"	th:value="${item.value}" size="2" maxlength="2" />
										</div>
										<button type="submit" class="btn btn-primary">Cập nhật</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
