<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/front_store">
<head>
    <meta charset="utf-8" />
</head>
    
    <body>
        <div class="container" layout:fragment="content">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="jumbotron">
                        <h1>Cung cấp thực phẩm | Nâng tầm cuộc sống!</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="dropdown" th:each="category : ${categoryList}" th:class="${id} == ${category.id} ? 'active'">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:text="${#strings.toUpperCase(category.name)}"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li th:each="category : ${categoryList}" th:class="${id} == ${category.id} ? 'active'">
                                    <a th:href="@{/category(id=${category.id})}" th:text="${#strings.toUpperCase(category.name)}"></a>
                                </li>
                            </ul>  
                        </li>
                    </ul>
                </div>




                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-3" th:each="product : ${productList}">
                            <div class="thumbnail">
                                <img class="img-responsive" th:src="@{|/resources/upload/products/${product.name}.png|}" />
                                <div class="caption">
                                    <p>
                                        <b>Tên:</b> <span th:text="${product.name}"></span>
                                    </p>
                                    <p>
                                        <b>Giá:</b> <span th:text="|${product.price} Đồng|"></span>
                                    </p>
                                    <p>
                                        <a th:title="|addItem::${product.id}|" th:href="@{/addToCart(id=${product.id})}" class="btn btn-primary">
                                           Thêm vào giỏ
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
