<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layouts/front_store">
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="jumbotron">
					<h1>Cung cấp tất cả bánh kem, bánh mì, Chocolate</h1>
					<p><strong>Đơn hàng đã được đặt mua thành công và sẽ được giao trong vòng 24h</strong></p>
					<p>Xin giữ lại mã xác nhận để xem lại đơn hàng</p>
					<p></p>
					<p></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Thông tin tóm tăt</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Đơn hàng:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="${order.confirmationNumber}"></div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Ngày tạo:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="${order.dateCreated}"></div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Giá trị:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="|${subTotal} Đồng|"></div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Phí giao hàng:</strong>
									</div>
									<div class="col-sm-8 text-right">10 000 Đồng</div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Tổng cộng:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="|${total} Đồng|"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Chi tiết giao hàng</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Tên:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="${customer.name}"></div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Email:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="${customer.email}"></div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Điện thoại: </strong>
									</div>
									<div class="col-sm-8 text-right" th:text="${customer.phone}"></div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Địa chỉ:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="${customer.address}"></div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Khu vực:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="${customer.cityRegion}"></div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<strong>Số thẻ tín dụng:</strong>
									</div>
									<div class="col-sm-8 text-right" th:text="${customer.ccNumber}"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr class="active">
								<th class="text-center">Tên</th>
								<th class="text-center">Giá</th>
								<th class="text-center">Số lượng</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${itemMap.entrySet()}">
								<td class="text-center" th:text="${item.key.getName()}"></td>
								<td class="text-center" th:text="|${item.key.getPrice()} Đồng|"></td>
								<td class="text-center" th:text="${item.value}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
