<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layouts/front_store">
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="jumbotron">
					<h1>Cung cấp tất cả bánh kem, bánh mì, Chocolate</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="row">
					<div class="col-xs-12 col-md-4" th:each="category : ${categoryList}">
						<div class="thumbnail">
							<a th:href="@{/category(id=${category.id})}">
                                                            <div class="thumbnail">
                                                                <img class="img-responsive" th:src="@{|/resources/upload/categories/${category.name}.jpg|}" />
                                                                
                                                            </div>
                                                            
                                                            <a th:text="${#strings.toUpperCase(category.name)}"></a>
                                                            
							</a>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
