<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layouts/admin_console">

<body>
    <div id="page-wrapper" layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">THÔNG TIN KHÁCH HÀNG</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/admin/customer}"><span class="glyphicon glyphicon-list"></span>Danh sách</a></li>
                    <li><a th:href="@{/admin/inscus}"><span class="glyphicon glyphicon-plus"></span>Thêm</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="nav">
                    <li>ID :
                        <input id="cus_id" name="id" type="text" th:value="${customerID}" disabled="disabled" />
                    </li>
                    <li>Tên :
                        <input id="cus_name" name="tên" type="text" th:value="${customer.name}" />
                    </li>
                    <li>Email :
                        <input id="cus_mail" name="tên" type="text" th:value="${customer.phone}" />
                    </li>
                    <li>Phone :
                        <input id="cus_phone" name="tên" type="text" th:value="${customer.email}" />
                    </li>
                    <li>Address :
                        <input id="cus_address" name="tên" type="text" th:value="${customer.address}" />
                    </li>
                    <li>City Region :
                        <input id="cus_city_region" name="tên" type="text" th:value="${customer.cityRegion}" />
                    </li>
                    <li>Credit Card :
                        <input id="cus_cc_number" name="tên" type="text" th:value="${customer.ccNumber}" />
                    </li>
                </ul>
                <button id="cus_edit" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span>Sửa</button>
                <button id="cus_del" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Xóa</button>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</body>

</html>
