<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layouts/admin_console">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div id="page-wrapper" layout:fragment="content">
        <div class="row">
                <div class="col-lg-12">
                        <h1 class="page-header">TỔNG QUAN</h1>
                </div>
        </div>
        
    </div>
</body>
</html>
