<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layouts/admin_console">

<body>
    <div id="page-wrapper" layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">THÀNH VIÊN MỚI</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/admin/member}"><span class="glyphicon glyphicon-list"></span>Danh sách</a></li>
                    <li><a th:href="@{/admin/insmem}"><span class="glyphicon glyphicon-plus"></span>Thêm</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav">
                    <li>
                        <p>ID : </p>
                        <input id="mem_id" name="id" type="text" disabled="disabled" />
                    </li>
                    <li>
                        <p>Tên : </p>
                        <input id="mem_name" name="Tên" type="text" />
                    </li>
                    <li>
                        <p>Tài khoản : </p>
                        <input id="mem_username" name="Tài khoản" type="text" />
                    </li>
                    <li>
                        <p>Trạng thái : </p>
                        <input id="mem_status" name="Trạng thái" type="text" />
                    </li>
                    <li>
                        <p>Vai trò : </p>
                        <input id="mem_role" name="vai trò" type="text" />
                    </li>
                </ul>
                <button id="mem_edit" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span>Sửa</button>
                <button id="mem_del" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Xóa</button>
            </div>
        </div>
    </div>
</body>

</html>
