<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Cung cấp thực phẩm | Nâng tầm cuộc sống" />
	<meta name="author" content="G17-team" />
	
	<!-- The styles -->
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/font-awesome.min.css}"	rel="stylesheet" />
	<link th:href="@{/resources/css/plugins/dataTables.bootstrap.css}"	rel="stylesheet" />
	<link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" />
	
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/resources/img/apple-touch-icon-144-precomposed.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/resources/img/apple-touch-icon-114-precomposed.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/resources/img/apple-touch-icon-72-precomposed.png}" />
	<link rel="apple-touch-icon-precomposed" th:href="@{/resources/img/apple-touch-icon-57-precomposed.png}" />
	<link rel="shortcut icon" th:href="@{/resources/img/favicon.png}" />
	
	<title>Cung cấp thực phẩm | Nâng tầm cuộc sống</title>
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
                            <div class="navbar-brand">QUẢN TRỊ</div>
                            <ul class="nav navbar-nav">
                                <li><a th:href="@{/admin/}">TRANG CHỦ</a></li>
                                <li><a th:href="@{/}">XEM TRANG</a></li>
                            </ul>
			</div>
			<form id="f_logout" method="POST" th:action="@{/admin/logout}">
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a><i class="fa fa-sign-out fa-fw"></i> Thoát</a>
					</li>
				</ul>
			</form>
		</nav>

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="sidebar-search">
						<div class="input-group custom-search-form">
							<input type="text" class="form-control" placeholder="Search..." />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</li>
					<li sec:authorize="hasRole('ROLE_ADMIN')">
						<a href="#"><i class="fa fa-group fa-fw"></i> QUẢN TRỊ<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a th:href="@{/admin/member}">Thành Viên</a></li>
						</ul>
					</li>
					<li sec:authorize="hasRole('ROLE_USER')">
						<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> QUẢN LÝ BÁN HÀNG <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a th:href="@{/admin/customer}">Khách hàng</a></li>
							<li><a th:href="@{/admin/order}">Hóa đơn</a></li>
						</ul>
					</li>
					<li sec:authorize="hasRole('ROLE_ADMIN')">
						<a href="#"><i class="fa fa-shopping-cart fa-fw"></i> QUẢN LÝ KHO <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a th:href="@{/admin/category}">Danh mục</a></li>
							<li><a th:href="@{/admin/product}">Sản phẩm</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<div id="page-wrapper" layout:fragment="content">
			<section><h1>G17 team!!!</h1></section>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/plugins/jquery.metisMenu.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/plugins/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/plugins/dataTables.bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/sb-admin.js}"></script>
</body>
</html>
